@layer components {
    :root {
        --card-width: 390px;
        --card-grid-gap: 20px;
        --bottomTabSize: 50px;
        --topBarSize: 72px;

        /* Profile settings */
        --minSettingsPanelWidth: 288px;
        --maxSettingsPanelWidth: 608px;
    }

    #root {
        padding-top: var(--topBarSize);
    }

    .viewPost {
        padding-top: var(--topBarSize);
    }

    .viewPendingPost {
        max-width: 800px;
        min-width: 320px;
        width: clamp(320px, 100%, 800px);
    }

    .mobileSideMenu {
        width: 295px;
    }

    .navbarDesktop {
        width: 100%;
        top: 0;
        height: var(--topBarSize);
        min-width: 320px;
    }

    .navbar {
        top: 0;
        bottom: unset;
        height: var(--topBarSize);
        min-width: 320px;
    }

    .backdrop {
        z-index: 4;
        position: fixed;
        overflow: auto;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        min-height: 100vh;
        /*min-width: max-content;*/
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(6px);
        padding-top: var(--topBarSize);
    }

    @media (max-width: 767px) {
        .navbar {
            top: unset;
            bottom: 0;
            height: var(--bottomTabSize);
        }

        #root {
            padding-bottom: var(--bottomTabSize);
        }

        .backdrop {
            padding-bottom: var(--bottomTabSize);
        }

        .viewPost {
            padding-bottom: var(--bottomTabSize);
        }
    }

    p.error {
        @apply mt-2 text-sm text-left text-red-600;
    }

    .notificationMobile {
        padding-top: var(--topBarSize);
        padding-bottom: var(--bottomTabSize);
    }

    .spinner {
        width: max-content;
        text-align: center;
    }

    .spinner > div {
        width: 9px;
        height: 9px;
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

    @-webkit-keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1);
        }
    }

    @keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .my-masonry-grid {
        display: -webkit-box; /* Not needed if autoprefixing */
        display: -ms-flexbox; /* Not needed if autoprefixing */
        display: flex;
        width: auto;
    }

    .my-masonry-grid_column {
        /*padding-left: 4px; !* gutter size *!*/
        background-clip: padding-box;
        margin-right: 4px;
    }

    /* Style your items */
    .my-masonry-grid_column > div {
        /* change div to reference your elements you put in <Masonry> */
        @apply max-h-80;
    }

    .grid_container_container {
        max-width: 1210px;
    }

    .leftSideBar {
        scrollbar-gutter: stable;
        height: calc(100vh - var(--topBarSize)) !important;
        flex-grow: 1;
        top: var(--topBarSize);
        overflow-y: auto;
        padding-top: 40px;
        max-width: 320px;
        min-width: 280px;
        margin-right: 1rem;
    }

    @media (max-width: 767px) {
        .fullscreen_footer_size {
            padding-bottom: var(--bottomTabSize);
        }

        .grid_container_container {
            max-width: 384px;
        }
    }

    .auroGradient {
        background: transparent conic-gradient(
                from 264deg at 50% 50%,
                rgba(244, 173, 87, 1) 0%,
                rgba(247, 88, 49, 1) 30.32%,
                rgba(108, 65, 228, 1) 50.32%,
                rgba(80, 121, 241, 1) 66.97%,
                rgba(45, 235, 217, 1) 80.51%,
                rgba(244, 173, 87, 1) 100%
        ) 0 0 no-repeat padding-box;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    .vjs-default-skin.vjs-paused .vjs-big-play-button {
        display: none !important;
    }

    .video-js .vjs-big-play-button {
        display: none !important;
    }

    .vjs-afterglow-skin .vjs-big-play-button:before {
        content: "" !important;
    }

    :not(.vjs-has-started) .vjs-control-bar {
        display: flex;
    }

    .backBlur {
        background: rgba(0, 0, 0, 0.9);
    }

    .backBlur::before {
        background: rgba(0, 0, 0, 0.8);
        content: "";
        filter: blur(20px);
        z-index: -1;
    }

    .nonBlur {
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        -o-filter: blur(0);
        -ms-filter: blur(0);
        filter: blur(0);
    }

    .card {
        min-width: 320px;
        width: var(--card-width);
    }

    .grid-container {
        display: grid;
        grid-auto-columns: auto;
        grid-template-columns: repeat(
      auto-fit,
      minmax(var(--card-width), max-content)
    );
        grid-gap: var(--card-grid-gap);
        padding: initial;
    }

    .image_size {
        aspect-ratio: 1/1;
    }

    .popup {
        min-width: 320px;
        width: clamp(320px, 100%, 450px);
    }

    .disabled {
        opacity: 0.6;
        cursor: not-allowed;
        background: transparent;
    }

    .settingsMenuPanel {
        min-width: 280px;
        max-width: 290px;
        width: clamp(280px, 100%, 290px);
        height: 217px;
    }

    .settingsDiv {
        width: clamp(
                var(--minSettingsPanelWidth),
                100%,
                var(--maxSettingsPanelWidth)
        );
    }
}
