@font-face {
    font-family: 'caakmoon';
    src: url('../fonts/caakmoon.eot?xnslc5');
    src: url('../fonts/caakmoon.eot?xnslc5#iefix') format('embedded-opentype'),
    url('../fonts/caakmoon.ttf?xnslc5') format('truetype'),
    url('../fonts/caakmoon.woff?xnslc5') format('woff'),
    url('../fonts/caakmoon.svg?xnslc5#caakmoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'caakmoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
<<<<<<< Updated upstream
.icon-fi-fi-sp-hamburger-menu:before {
    content: "\e959";
  }
  .icon-fi-sp-hamburger-menu:before {
    content: "\e95a";
  }
  .icon-fi-sp-home-f:before {
    content: "\e95b";
  }
  .icon-fi-sp-home:before {
    content: "\e95c";
  }
=======
>>>>>>> Stashed changes
.icon-fi-rs-add-group-f:before {
    content: "\e94c";
  }
  .icon-fi-rs-add-post:before {
    content: "\e94d";
  }
  .icon-fi-rs-bookmark-f:before {
    content: "\e94e";
  }
  .icon-fi-rs-drag:before {
    content: "\e94f";
  }
  .icon-fi-rs-group-f:before {
    content: "\e950";
  }
  .icon-fi-rs-invite-user:before {
    content: "\e951";
  }
  .icon-fi-rs-lock-f:before {
    content: "\e952";
  }
  .icon-fi-rs-social:before {
    content: "\e953";
  }
.icon-fi-rs-tiktok:before {
    content: "\e93e";
  }
  .icon-fi-rs-fb:before {
    content: "\e93f";
  }
  .icon-fi-rs-ig:before {
    content: "\e940";
  }
  .icon-fi-rs-comment-active:before {
    content: "\e941";
  }
  .icon-fi-rs-tw:before {
    content: "\e942";
  }
  .icon-fi-rs-lock:before {
    content: "\e943";
  }
  .icon-fi-rs-dots:before {
    content: "\e944";
  }
  .icon-fi-rs-pie-chart:before {
    content: "\e945";
  }
  .icon-fi-rs-histogram:before {
    content: "\e946";
  }
  .icon-fi-rs-add-friend:before {
    content: "\e947";
  }
  .icon-fi-rs-thick-add-friend:before {
    content: "\e948";
  }
  .icon-fi-rs-thick-check:before {
    content: "\e949";
  }
  .icon-fi-rs-thick-add:before {
    content: "\e94a";
  }
  .icon-fi-rs-pencil:before {
    content: "\e94b";
  }
.icon-fi-rs-world:before {
    content: "\e93c";
}

.icon-fi-rs-add:before {
    content: "\e93d";
}

.icon-fi-rs-star:before {
    content: "\e93b";
}

.icon-fi-rs-scheduled:before {
    content: "\e939";
}

.icon-fi-rs-copy:before {
    content: "\e93a";
}

.icon-fi-rs-about:before {
    content: "\e900";
}

.icon-fi-rs-album:before {
    content: "\e901";
}

.icon-fi-rs-archive:before {
    content: "\e902";
}

.icon-fi-rs-auro:before {
    content: "\e903";
}

.icon-fi-rs-back:before {
    content: "\e904";
}

.icon-fi-rs-bookmark:before {
    content: "\e905";
}

.icon-fi-rs-check:before {
    content: "\e906";
}

.icon-fi-rs-close:before {
    content: "\e907";
}

.icon-fi-rs-comment:before {
    content: "\e908";
}

.icon-fi-rs-delete:before {
    content: "\e909";
}

.icon-fi-rs-desc:before {
    content: "\e90a";
}

.icon-fi-rs-document-signed:before {
    content: "\e90b";
}

.icon-fi-rs-draft:before {
    content: "\e90c";
}

.icon-fi-rs-edit:before {
    content: "\e90d";
}

.icon-fi-rs-emoji:before {
    content: "\e90e";
}

.icon-fi-rs-exit:before {
    content: "\e90f";
}

.icon-fi-rs-follow:before {
    content: "\e910";
}

.icon-fi-rs-following:before {
    content: "\e911";
}

.icon-fi-rs-full-screen:before {
    content: "\e912";
}

.icon-fi-rs-group:before {
    content: "\e913";
}

.icon-fi-rs-help:before {
    content: "\e914";
}

.icon-fi-rs-hide:before {
    content: "\e915";
}

.icon-fi-rs-image-o:before {
    content: "\e916";
}

.icon-fi-rs-image:before {
    content: "\e917";
}

.icon-fi-rs-link:before {
    content: "\e918";
}

.icon-fi-rs-megaphone:before {
    content: "\e919";
}

.icon-fi-rs-mention:before {
    content: "\e91a";
}

.icon-fi-rs-mute:before {
    content: "\e91b";
}

.icon-fi-rs-new-o:before {
    content: "\e91c";
}

.icon-fi-rs-new:before {
    content: "\e91d";
}

.icon-fi-rs-notebook:before {
    content: "\e91e";
}

.icon-fi-rs-notification:before {
    content: "\e91f";
}

.icon-fi-rs-pause:before {
    content: "\e920";
}

.icon-fi-rs-pending:before {
    content: "\e921";
}

.icon-fi-rs-play:before {
    content: "\e922";
}

.icon-fi-rs-profile:before {
    content: "\e923";
}

.icon-fi-rs-rec:before {
    content: "\e924";
}

.icon-fi-rs-report:before {
    content: "\e925";
}

.icon-fi-rs-resend:before {
    content: "\e926";
}

.icon-fi-rs-search:before {
    content: "\e927";
}

.icon-fi-rs-settings-f:before {
    content: "\e928";
}

.icon-fi-rs-settings:before {
    content: "\e929";
}

.icon-fi-rs-share:before {
    content: "\e92a";
}

.icon-fi-rs-shield-exclamation:before {
    content: "\e92b";
}

.icon-fi-rs-spinner-alt:before {
    content: "\e92c";
}

.icon-fi-rs-stats:before {
    content: "\e92d";
}

.icon-fi-rs-top-o:before {
    content: "\e92e";
}

.icon-fi-rs-top:before {
    content: "\e92f";
}

.icon-fi-rs-trend-o:before {
    content: "\e930";
}

.icon-fi-rs-trend:before {
    content: "\e931";
}

.icon-fi-rs-verified:before {
    content: "\e932";
}

.icon-fi-rs-video:before {
    content: "\e933";
}

.icon-fi-rs-view:before {
    content: "\e934";
}

.icon-fi-rs-volume:before {
    content: "\e935";
}

.icon-fi-rs-warning:before {
    content: "\e936";
}

.icon-fr-rs-caak-active:before {
    content: "\e937";
}

.icon-fr-rs-caak:before {
    content: "\e938";
}
