@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        @apply font-inter;
    }
}
.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: max(100vh, 800px);
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
}

.signFooter {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}

#partitioned {
    font-size: 20px;
    padding-left: 12px;
    letter-spacing: 39px;
    border: 0;
    background-image: linear-gradient(
            270deg, #000 70%, hsla(0, 0%, 100%, 0) 0);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 305px;
}

#divInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    grid-gap: 8px;
    gap: 8px;
    left: 0;
    position: sticky;
}

#divOuter {
    width: 296px;
    overflow: hidden;
    align-self: center;
}


/* Loader */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .lds-ellipsis div {
      @apply bg-primary
  }
  .lds-ellipsis.light div {
    @apply bg-white
  }

  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  
  